



.weather {
    background-color: #fffb;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather__title {
    font-size: 2rem;
}
.weather__form {
    display: flex;
    gap: 10px;
}
.weather__form input {
    text-align: center;
    border-radius: 5px;
}
.form__btn {
    background-color: white;
    color: #7e43ff;
    padding: 3px 6px;
    border-radius: 5px;
    transition: transform .25s;
                box-shadow: .25s;
}
.form__btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 5px black; 
    transition: transform .25s;
                box-shadow: .25s;
}
.weather__city {
    font-size: 1rem;
}
.weather__container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.weather__container1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather__img {
    width: 150px;
}
.weather__clouds {
    margin: 15px 0;
}
.weather__info {
    width: 200px;
}
.weather__info li {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.weather__info li span:last-child {
    font-weight: 700;
}
.weather__tem {
    margin: 10px 0;
    text-align: center;
}
.weather__btn {
    cursor: pointer;
    background-color: #7e43ff;
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
    transition: transform .25s;
                box-shadow: .25s;
}
.weather__btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 5px black; 
    transition: transform .25s;
                box-shadow: .25s;
}
@media (width >= 850px) {
    .weather {
        width: 500px;
    }
    .weather__container1 {
        width: 100%;
        justify-content: space-evenly;
    }
}